body {
    border: none;
    margin: 0px;
    padding-top: 0px;
    font-family: 'Segoe UI';
}

header {
    background-color: #FDEBD0;
    border-bottom: solid 1px black;
    margin: 0px;
    padding: 50px;
}

footer {
    background-color: #FDEBD0;
    border-top: solid 1px black;
    margin: 0px;
    padding: 50px;
}


h2, h3, h4, h5, h6 {
    margin-top: 0px;
    padding-top: 10px;
}

h1 {
    font-size: 40px;
    font-family: Garamond, serif;
    text-shadow: 2px 2px 2px white;
}
