@{
    Layout = "_Layout";
    ViewBag.Title = "Many Green Bottles";
}
<br>
<br>
<form asp-controller="Home" asp-action="Sing" method="post">
    <table class="center">
        <tr>
            <td>Enter the number of bottles between 50 and 100:&nbsp;</td>
            <td><input type="number" name="numBottles" min="50" max="100" /></td>
            <td><input type="submit" value="Sing!" /></td>
        </tr>
    </table>
    
</form>
<br>
<br>