@{
    Layout = "_Layout";
}

<h3>Show the song!</h3>
<form asp-controller="Home" asp-action="Sing" method="post">
    <table>
        <tr>
            <td>Enter the number of bottles between 50 and 100:</td>
            <td><input type="number" name="numBottles" required min="50" max="100" /></td>
            <td><input type="submit" value="Sing!" /></td>
        </tr>
    </table>
    
</form>